/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*------------
 common-use
 ------------*/
 .container{
    display: grid;
    justify-content: center;
    
}

 body{
    font-family: 'Poppins', sans-serif;
 }

 /*--------------------------
 ---media quary mobile
 -------------------------- */
 @media only screen and (max-width:688px){
    .container{
        display: grid;
        justify-content: center;}
 }

  /*----------------------
  -------- nav-banner
  ----------------------- */
  nav{
    background: #2D25A0;
    width: 1340px;
    height: 677px;
    left: 0px;
    top: 0px;
    display: flex;
    margin-bottom: 70px;
}
.text-banner{
    color: #fff;
    font-size: 47px;
    margin-left: 20px;
    width: 487px;
    height: 320px;
    top: 207px;
    font-weight: bold;
    line-height: 80px;
    margin-left:156px;
}

button{
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items:center;
    transition: 1s ease-in-out;
    padding: 10px 24px;
    margin-left: 100px;
    color: #FFFFFF;
  
    font-size: 16px;

    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    

      
}
nav img{
    
    top: 153px;
    width: 556.01px;
    height: 438px;
    left: 1299.01px;
    margin-top: 100px;
    margin-left: 100px;
    transition: 2s ease-in-out;

}

button:hover {
    transform:scale(1.50)

}
nav img:hover{
    transform: rotate(20deg) scale(1.1);
}


/* -----------------------
footballer style 
-------------------------------
--------------------------------*/
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-direction: column;
    grid-column-gap: 30px;
    grid-row-gap: 45px;
    margin-bottom: 30px;
} 
.player{
    background: #FFFFFF;
    width: 330px;
    height: 474px;
    left: 180px;
    top: 747px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player img{
    width: 300px;
    height: 256px;
}
.player-name{
    font-weight: bold;
font-size: 28px;
line-height: 40px;
}
.player p{

font-size: 16px;

font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color:#6C6C6C;

}

/* ---------------------------------
-------------extra-containt style
---------------------------------- */
.photo{
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    justify-content: center;
    align-content: center;
    margin-left: 488px;
    margin-top: -40px;
    
}
.photo img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    
}  
.match-title{
    font-size: 20px;
   margin-bottom: 40px;
    margin-left: 600px;
    
    
}
.vs{
    background-color: rgba(25, 25, 175, 0.87);
    font-size: 20px;
    padding: 15px;
    display: block;
    color: #fff;
    width: 26px;
    height: 20px;
    border-radius: 10px;
    margin-right: 31px;

}
.afa-img{
    margin-right: 60px;
}
.brasil-img{
    margin-left: 60px;
    margin-right:-20px;
}
.match-time{
    display: grid;
    justify-content:space-evenly;
    align-content:flex-end;
    /* justify-content:end; */
    margin-right:3px;
    margin-left: -9px;
    color: #2D25A0;
}
.match-time p{
    padding: 9px;
    margin-left: -1px;
}
/* --------------
extra containt 2  
-----------------*/
.blog img{
    width: 200px;
    height: 200px;
}
.copa-detail{
    width: 500px;
    height: 500px;
    border: 1px solid rgb(3, 14, 20);
    overflow:scroll;
   justify-content: center;
   margin-left: 485px;
   margin-bottom: 50px;
   padding: 10px;
}
.copa-detail h1{
    font-size: 30px;
    font-style: bold;
}


/* ---------------------------------------
-------------footer style
--------------------------------------- */
.footer-container{
    width: 483px;
    height: 213px;
   margin-left: 30%;
    
    
}
.logo img{
    width: 483.87px;
    height: 110px;
}
.icon{
    width: 170px;
height: 32px;
 font-size: 20px;
 text-align: center;
 color: Gray;
margin-left: 45%;

}
.copyright{
    font-size:18px;
    color: #000000;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
}
footer{
    margin-bottom: 31px;
}
